:root {
    --color: #242a45;
    --white: #fff;
    --bg-red: #fa5959;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body { 
    display: flex;
    flex-direction: column;
    font-family: "Rubik", "Arial" , sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    font-style: normal;
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

/* CONTAINER */
.container {
    width: 100%;
    max-width: 1150px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: auto;
    margin-right: auto;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.main-content {
    flex-grow: 1;
}

/* SITE-HEADER */
.site-header {
    padding-top: 48px;
    padding-bottom: 108px;
}

.site-header__container {
    display: flex;
    align-items: center;
}

.site-header__logo {
    width: 149px;
    height: 25px;
    margin-right: auto;
}

.site-nav__link {
    text-decoration: none;
    text-transform: uppercase;
}

.site-nav__link:not(:last-child) {
    margin-right: 44px;
}

.site-nav__list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: 48px;
}

.site-nav__item {
    color: rgba(36, 42, 69 , 0.5);
    font-size: 13px;
    font-weight: 400;
    line-height: 17px; 
    letter-spacing: 1.5px;
    transition: 0.3s ease;
}

.site-nav__item:hover {
    color: var(--bg-red);
}

.site-nav__item:active {
    color: var(--bg-red);
    opacity: 0.6;
}

.button-link {
    text-decoration: none;
    color: var(--white);
    font-size: 13px;
    letter-spacing: 1.5px;
    padding: 12px 32px 11px 34px;
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20);
    background-color: var(--bg-red);
    border-radius: 5px;
    transition: 0.3s ease;
}

.button-link:hover {
    opacity: 0.8;
}

.button-link:active {
    opacity: 0.6;
}

/* HERO */
.hero__container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.hero__heading {
    color: var(--color);
    font-size: 48px;
    line-height: 52px; 
    letter-spacing: -0.15px;
}

.hero__info {
    color: rgba(36, 42, 69 , 0.5);
    font-weight: 400;
}

.hero__inner {
    display: flex;
    align-items: center;
}

.hero__link { 
    text-decoration: none;
    background-color: #5267df;
    padding: 10px 24px;
    border-radius: 5px;
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20);
    color: var(--white);
    font-size: 14px;
    letter-spacing: 0.25px;
    margin-right: 16px;
}

.hero_link2 {
    text-decoration: none;
    color: rgba(36, 42, 69 , 0.75);
    font-size: 14px;
    letter-spacing: 0.25px;
    border-radius: 5px;
    background-color: #f7f7f7;
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20);
}

.hero-img {
    position: absolute;
    right: -27px;
    z-index: 100;
}

.hero__bg {
    position: absolute;
    top: 131px;
    left: 65%;
}

/* FEATURES */
.features {
    padding-top: 203px;
    padding-bottom: 149px;
}

.features__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features__heading {
    color: var(--color); 
    font-size: 32px;
    line-height: 52px; 
    letter-spacing: -0.1px;
    margin-top: 0;
    margin-bottom: 16px;
}

.features__info {
    color: rgba(36, 42, 69 , 0.5);
    font-weight: 400;
    text-align: center;
    margin-top: 0;
    margin-bottom: 72px;
}

.features__list {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.features__item {
    padding: 0;
    margin-bottom: 32px;
}

.features__link {
    text-decoration: none;
    color: rgba(36, 42, 69 , 075);
    font-size: 16px;
    font-weight: 400;
    line-height: 17px; 
    letter-spacing: 0.533px;
    transition: 0.1s ease;
}

.features__link:hover {
    border-bottom: 4px solid #fa5959;
    color: var(--bg-red);
}

.features__link:not(:last-child) {
    margin-right: 105px;
}

.features__divider {
    border: 0;
    padding: 0;
    margin: 0;
    width: 730px;
    height: 1px;
    background-color: rgba(73, 93, 207, 0.20);
}

/* FEATURE-BOTTOM */
.features__inner {
    display: flex;
    padding-top: 72px;
    padding-bottom: 149px;
}

.features__img {
    position: absolute;
    left: 40px;
    z-index: 10;
}

.features__bg {
    position: absolute;
    left: -60%;
    top: 50%;
}

.features__inner {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.features__title {
    margin-top: 0;
    margin-bottom: 16px;
    color: var(--color);
    font-size: 32px;
    line-height: 52px; 
    letter-spacing: -0.1px;
}

.features__text {
    margin-top: 0;
    margin-bottom: 32px;
    color: rgba(36, 42, 69 , 0.5);
    font-weight: 400;
}

.features__more-info {
    text-decoration: none;
    text-transform: capitalize;
    border-radius: 5px;
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20);
    color: var(--white);
    font-size: 14px;
    letter-spacing: 0.25px;
    padding: 10px 24px;
    background-color: #5267df;
}